{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}
